@{
    ViewBag.Title = "About the Website";
}
<h2>@ViewBag.Title.</h2>
<!--<h3>@ViewBag.Message</h3>-->
<br>
<p>To provide the requirements that small businesses have to maintain their market, I built this website.</p>
<p>As a person who spent few years working in small and large businesses, specifically furniture stores, I was familiar with their needs.</p>
<p>This website allows small businesses to gather all the data that they require to have a successful business.</p>
<p>I hope this website can assist you in building your business more conveniently.</p>

