@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Small Business Website</h1>
    <p class="lead">Small Business Website is a free website for building great business.</p>
    <p class="lead">We belive in equal opportunities.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Small Business Website gives you a powerful, new way to build your business that
            enables a clean separation of concerns and gives you full control over your data
            for convient development.
        </p>
        <p><a class="btn btn-default" href="~/SignUp/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more Information</h2>
        <p><a class="btn btn-default" href="~/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get into your Account</h2>
        <p>You can easily sign in to your free account.</p>
        <p><a class="btn btn-default" href="~/Login/Index">Learn more &raquo;</a></p>
    </div>
</div>