@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Company Main Page</h1>
    <p class="lead"></p>
    <p class="lead"></p>
    <p><a href="https://google.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>
            Small Business Website gives you a powerful, new way to build your business that
            enables a clean separation of concerns and gives you full control over your data
            for convient development.
        </p>
        <p><a class="btn btn-default" href="~/CompanyPage/Customers">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Inventory</h2>
        <p><a class="btn btn-default" href="~/CompanyPage/Inventory">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reports</h2>
        <p>You can easily sign in to your free account.</p>
        <p><a class="btn btn-default" href="~/CompanyPage/Reports">Learn more &raquo;</a></p>
    </div>
</div>