@model SmallBusinessWebsite.Models.CompanyPageModel

@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>

<p><a class="btn btn-default" href="~/Customer/AllCustomer">List Of Customers &raquo;</a></p>
